{
  "warehouse-name": "azure_dev",
  "delete-profile": {
    "type": "hard"
  },
  "storage-credential": {
    "client-id": "YOUR_CLIENT_ID_HERE",
    "client-secret": "YOUR_CLIENT_SECRET_HERE",
    "credential-type": "client-credentials",
    "tenant-id": "YOUR_TENANT_ID_HERE",
    "type": "az"
  },
  "storage-profile": {
    "account-name": "investflowadls",
    "filesystem": "warehouse-dev",
    "type": "adls"
  }
}

